@import "../lib/bootstrap/dist/css/bootstrap.css";
@import "../lib/bootstrap/dist/css/bootstrap-theme.css";

body {
    margin-top: 60px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

